*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* Quando a dimensão horizontal da tela chegar à
     880px, as propriedades de form passarão a ser:  */
  @media (max-width: 880px){
      width: 40vh;
      padding: 5%;
  }
  background-color: rgb(55, 50, 50);
  width: 70vh;
  padding: 2%;

  border-radius: 10px;
}

button{
  background-color: rgb(169, 151, 19);
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  border: none;
  font-weight: 700;
  text-shadow: black 2px 2px 2px;
  font-size: 16px;
}


.background{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background:linear-gradient(to bottom,
                          rgba(213, 191, 23, 1.0),
                          rgba(213, 191, 23, 0.7),
                          rgba(213, 191, 23, 0.5),
                          rgba(213, 191, 23, 0.3),
                          rgba(213, 191, 23, 0.1));
  color: white;
  text-shadow: 2px 2px 6px black;
}
.black-background{
  background-color: black;
}

.values{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 3% 0;
  text-align: center;
}

input{
  text-align: center;
  width: 50px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  border-style: none;
}
input:focus{
  border-color: none;
}
#result{
  text-align: left;
}